.button {
  @include reset-button;

  padding: 0.9375rem 2.0625rem;
  border: var(--border-button-accent);
  border-radius: 6.25rem;
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-light);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  @include hover {
    border: 0.5625rem solid var(--color-accent);
    color: var(--color-dark);
  }

  @include mobile-s {
    font-size: 1rem;
    padding-block: 0.875rem;
    border: var(--border-button-mobile-accent);
  }

  &--light {
    border: var(--border-button-light);

    @include mobile-s {
      border: var(--border-button-mobile-light);
    }
  }
  
  &::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #ffcc3f 0%, #f4ae00 100%);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 6.25rem;
  z-index: -1;
  }
}