.cifre {
  background-color: var(--bgc-beg-alt);
  border-radius: var(--border-radius-blocks) var(--border-radius-blocks) 0 0;
  padding-top: 3.125rem;
  
  &__inner {
    @include mobile {
      padding-inline: .75rem;
    }
  }

  &__header {
    margin-bottom: 2.5rem;

    @include mobile {
      margin-bottom: 1.25rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem;
    row-gap: 1.35rem;

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 1rem;
    }
  }

  &__item {
    padding: 1.875rem;
    background-color: var(--color-light);
    border-radius: var(--border-radius-medium);

    @include mobile {
      padding: 0.75rem;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    row-gap: 0.8125rem;

    &__title {
      @include fluid-text(80, 60);

      font-weight: 900;
      color: #ffffff;
      /* -webkit-text-stroke: 0.125rem var(--color-accent); */
      text-shadow: -0.125rem -0.125rem 0 var(--color-accent),
        0rem -0.125rem 0 var(--color-accent),
        0.125rem -0.125rem 0 var(--color-accent),
        0.125rem 0rem 0 var(--color-accent),
        0.125rem 0.125rem 0 var(--color-accent),
        0rem 0.125rem 0 var(--color-accent),
        -0.125rem 0.125rem 0 var(--color-accent),
        -0.125rem 0rem 0 var(--color-accent);
      }

    &__subtitle {
      font-weight: 400;
    }

    &__description {
      letter-spacing: -0.1px;

      @include mobile {
        letter-spacing: normal;
      }
    }
  }
}