.comfort {
  background-color: var(--color-light);
  border-radius: var(--border-radius-blocks) var(--border-radius-blocks) 0 0;
  margin-top: -3.125rem;

  &__title {
    margin-bottom: 0.625rem;
  }

  &__subtitle {
    margin-bottom: 2.5rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.25rem;
    
    @include desktop-l {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1.25rem;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }

    @include mobile-s {
      margin-bottom: 1.5rem;
    }
  }

  &__item {
    padding: 1.25rem;
    border: var(--border-light);
    border-radius: var(--border-radius-xs);
    display: flex;
    column-gap: 1rem;
  }

  &-banner {
    background-color: var(--bgc-beg-alt);
    border-radius: var(--border-radius-blocks) 0 0 var(--border-radius-blocks);
    max-width: 110.3125rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2.5rem;
    margin-left: auto;
    padding: 4.2vw 1.875rem;

    @include desktop-l {
      padding: 2rem;
      background-size: cover;
      align-items: start;
      column-gap: 1vw;
      width: 100%;
      margin: 0;
    }

    @include desktop {
      padding: .6rem;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    @include tablet {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @include mobile {
      padding-top: 4rem;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;

      @include desktop-l {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &__table {
      padding: 1.625rem;
      background-color: var(--color-light);
      border-radius: 1.5625rem;
      max-width: 56rem;
      width: 100%;
      
      @include desktop-l {
        margin-top: 5rem;
        max-width: none;
        margin-bottom: 0.5rem;
        border-radius: 1rem;
      }

      @include mobile {
        margin-top: 0.8125rem;
        padding: 0.625rem;
        border-radius: 0.625rem;
      }
    }

    &__info {
      margin-top: 1.25vw;
      margin-left: 4vw;
      max-width: 36.25rem;

      @include desktop-l {
        max-width: none;
        text-align: center;
        margin: 0;
        padding-bottom: 5rem;
      }

      @include mobile-s {
        padding-bottom: 3rem;
        margin-top: 1.5rem;
        text-align: start;
      }
    }
    
    &__title {
      font-size: 1.875rem;
      margin-bottom: 1.5rem;

      @include desktop-l {
        margin: 0;
      }

      @include mobile {
        padding-bottom: 1.5rem;
      }
    }

    &__description {
      p {
        &:first-child {
          margin-bottom: 1.5rem;

          @include desktop-l {
            margin: 0;
          }

          @include desktop-l {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }


}