.dropbtn {
  @include reset-button;
  width: 4.375rem;
  height: 3rem;
  border: 0.0625rem solid #d7d7d7;
  border-radius: var(--border-radius-blocks);
  position: relative;
  user-select: none;
  background-color: transparent;

  @include mobile {
    width: 3rem;
    height: 2rem;
  }

  span,
  span::before,
  span::after {
    background-color: var(--color-dark);
    content: '';
    border-radius: 0.3125rem;
    height: 0.125rem;
    transform: translate(-50%);
  }

  span{
    display: block;
    width: 1.125rem;
    position: relative;
    left: 50%;
    
    @include mobile {
      width: 0.9375rem;
    }

    &::before {
      position: absolute;
      width: 0.875rem;
      top: -0.375rem;
      left: 40%;
      
      @include mobile{
        width: 0.8125rem;
      }
    }
    &::after {
      position: absolute;
      width: 0.625rem;
      top: 0.375rem;
      left: 30%;
      
      @include mobile {
        width: 0.5625rem;
      }
    }
  }
}
.dropbtn:hover, .dropbtn:focus {
  background-color: var(--color-accent);
  span,
  span::before,
  span::after {
    background-color: var(--color-light);
  }
}
