.examples {
  background-color: var(--bgc-beg-alt);
  border-radius: var(--border-radius-blocks) var(--border-radius-blocks) 0 0;
  margin-top: 5.625rem;
  padding-bottom: 11.25rem;
  overflow: hidden;
  
  @include mobile {
    border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  }

  &__header {
    margin-bottom: 4rem;
    margin-left: 11.25rem;

    @include desktop-l {
      margin-left: 3vw;
      margin-bottom: 2rem;
    }
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__slider {
    width: 26rem;
    height: 24rem;

    @include mobile-s {
      margin-left: 0.75rem;
      width: 22.0625rem;
      height: 100%;
    }
  }

  &__list {
    display: flex;
    column-gap: 1.25rem;
    transform: translateX(-20%);
  }

  &__buttons {
    position: absolute;
    transform: translateY(100%);
    left: 80vw;
    width: 12.5rem;
    height: 2.5rem;
  
    @include mobile {
      transform: translateY(65%);
      left: 60vw;
      width: 8.75rem;
    }
  }

  &-prev,
  &-next {
  width: 5.125rem;
  height: 3.75rem;
  
  @include mobile {
    width: 3.4rem;
    height: 2.5rem;
  }
}

&-next {
  background-image: url(../../images/icons/arrow-slide-right-gray.svg);
}

&-pagination {
  position: absolute;
  transform: translateY(220%);
  left: 20% !important;

  @include mobile {
    max-width: 15.625rem;
    transform: translateY(220%);
    left: -2.5rem !important;
  }
}

.card__play {
  width: 100%;
  height: 2.5rem;
}

.swiper-pagination {
  &-bullet {
    width: 1.125rem;
    height: 1.125rem;
    background-color: var(--color-gray-alt);
    user-select: none;
    margin: 0 !important;
    opacity: 1 !important;
    margin: 0.75rem  !important;

    @include mobile {
      width: 0.75rem;
      height: 0.75rem;
      margin: 0.5rem !important;
    }
    
    &-active {
      content: '';
      width: 2.25rem;
      height: 1.125rem;
      background-color: var(--color-accent) !important;
      border-radius: 4.1875rem;
      
      @include mobile {
        width: 1.5rem;
        height: 0.75rem;
      }
    }
  }
}
}