.header {
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
  
  &__logo {
    @include tablet {
      order: -2;
      margin-top: 0.6rem;
    }
  }

  &__inner {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 7rem;

    @include desktop-l {
      width: 46vw;
      row-gap: 3vw;
    }

    @include tablet {
      padding: 0;
      order: 3;
      width: 93vw;
      row-gap: 1vw;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 39.7rem;

    @include tablet {
      max-width: none;
      width: 100vw;
    }
  }

  &__menu {
    &-list {
      display: flex;
      column-gap: 3.2rem;
      margin-top: -1rem;

      @include desktop {
        column-gap: 2rem;
      }
    }

    &-link {
      &:visited {
        color: #000000;
      } 
      &:focus,
      &:hover {
        color: var(--color-accent);
      }
     

      &:active {
        color: #fa0000;
      }

     
    }
  }

  &__info {
    margin-left: 1.5rem;
    max-width: 43.75rem;

    @include desktop {
      margin: 0;
    }

    @include tablet {
      max-width: none;
      width: 94vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include mobile-s {
      align-items: start;
    }
  }

  &__heading {
    text-transform: uppercase;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 0.125rem solid var(--color-accent);

    @include tablet {
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    @include mobile-s {
      text-align: start;
    }
  }

  &__title {
    margin-bottom: .65rem;

    @include tablet {
      margin-bottom: 1rem;
    }
  }

  &__slogan {
    line-height: 1.25;

    span {
      color: var(--color-accent);
    }
  }
  
  &__description {
    font-weight: 300;
    color: var(--color-dark-alt);
    margin-bottom: 1.5rem;
  }

  &__call {
    font-weight: 700;
    margin-bottom: 2.05rem;

    @include desktop {
      margin-bottom: 1rem;
    }
  }

  &__button {
    margin-left: -0.5rem;

    @include mobile-s {
      width: 100%;
    }
  }
}