.problem {
  background-color: var(--bgc-beg-alt);
  border-radius: var(--border-radius-blocks) var(--border-radius-blocks) 0 0;
  padding-top: 3.125rem;
  overflow: hidden;

  @include mobile {
    border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
    padding-top: 1.25rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
    position: relative;
    
    @include mobile {
      padding: 0;
    }
  }

  &__header {
    text-align: center;

    @include mobile {
      padding-inline: 1rem;
    }
  }

  &__title {
    margin-bottom: 0.5rem;

    @include mobile {
      letter-spacing: -.5px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem;
    row-gap: 0.9375rem;
    width: 100%;

    @include desktop {
      grid-template-columns: repeat(1, 1fr);
    }

    @include tablet {
      display: flex;
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__item {
    padding: 0.625rem;
    background-color: var(--color-light);
    border-radius: var(--border-radius-medium);
    align-items: center;
  }

  &-card__inner {
    display: grid;
    grid-template-columns: .92fr .1fr .92fr;
    column-gap: 0.5625rem;
    height: 100%;

    @include tablet {
      grid-template-columns: 21.5625rem;
      grid-template-rows: .86fr .1fr 1.1fr;
      width: 21.5625rem;
      min-height: 32.625rem;
      height: 100%;
    }

    span {
      align-self: center;

      @include tablet {
        margin: 0 auto;
      }
    }
  }

  &__bottom {
    padding: 0.3125rem 2.75rem;
    background-color: var(--color-dark);
    color: var(--color-light);
    border-radius: var(--border-radius-small);
    text-transform: none;
    margin-inline: 0.75rem;
  }
}