.question {
  border: var(--border-light);
  border-radius: var(--border-radius-xs);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
  height: 100%;


  &__header {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    color: var(--color-dark-alt);

    span {
      @include tablet {
        margin: 0;
      }
    }
  }

  &__title {
    font-size: 1.125rem;
  }

  &__description {
    letter-spacing: -.3px;
    color: var(--color-dark-alt);
  }
}