.results {
  padding-top: 1.5625rem;
  padding-bottom: 6.25rem;
  
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 3rem;
    }
  }

  &__video-wrapper {
    width: 45.625rem,;
    position: relative;

    @include desktop-l {
      width: 47vw;
    }
    
    @include tablet {
      max-width: none;
      width: 100%;
    }
  }

  &__video{
    width: 100%;
  }
  
  &__info {
    max-width: 47.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      max-width: none;
      align-items: center;
    }
  }

  &__slogan {
    text-transform: uppercase;
    margin-bottom: 2rem;

    span {
      color: var(--color-accent);
    }

    @include tablet {
      text-align: center;
    }

    @include mobile-s {
      text-align: start;
    }
  }

  &__description {
    @include tablet {
      text-align: center;
    }

    @include mobile {
      text-align: start;
    }
  }
}

.video-wrapper {
  position: relative;
}

.play-button {
  @include reset-button;
  
  border-radius: 50%;
  position: absolute;
  width: 10.25rem;
  height: 10.25rem;
  top: 50%; /* Отступы от верха и левого края */
  left: 50%;
  transform: translate(-50%, -50%); /* Центрируем кнопку */
  z-index: 1; 

    @include hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  @include desktop-l {
    width: 8.5vw;
    height: 8.5vw;
  }

  @include tablet {
    width: 20vw;
    height: 20vw;
  }
}
  