.steps {
  &-banner {
    background-image: url(../../images/steps-banner-bg.png);
    background-repeat: no-repeat;
    background-size: contain; 
    width: 95.625rem;
    width: 100%;
    min-height: 24rem;
    display: flex;
    justify-content: space-between;
    column-gap: 2.5rem;
    padding: 2.4375rem 3.5rem 3.0625rem 7.875rem;
    position: relative;
    z-index: 1;
    margin-bottom: 6.3125rem;

    @include desktop-l {
      padding: 2rem;
      align-items: start;
      column-gap: 1vw;
    }

    @include desktop {
      padding: .6rem;
      background-size: cover;
      align-items: center;
      width: 95vw;
      height: 100%;
      margin-bottom: 3.125rem;
    }

    @include tablet {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @include mobile-s {
      background-image: url(../../images/steps-banner-bg-mb.png);
      background-size: cover;
      max-width: 22rem;
      
      height: 100%;
    }

    &__right {
      @include tablet {
        order: -1;
      }
      img {
        @include desktop-l {
          width: 15vw;
        }

        @include tablet {
          width: 9.875rem;
        }
      }
    }

    &__body {
      @include desktop-l {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-left: 3.125rem;
      }

      @include mobile-s {
        margin: 0;
        padding-bottom: 4rem;
      }
    }

    &__title {
      margin-bottom: 1rem;

      @include desktop {
        margin-top: 2rem;
        margin-bottom: 1rem;
        
      }
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;

      @include desktop {
        flex-direction: column;
        row-gap: 1.25rem;
      }
    }

    &__subtitle {
      color: var(--color-dark);
      max-width: 41rem;
      margin-bottom: 2.5rem;
      
      @include mobile {
        font-size: 1.25rem;
        text-align: center;
        margin-bottom: 1rem;
      }
    }

    &__button {
      max-width: 24.875rem;
      width: 100%;

      @include tablet {
        align-self: center;
        width: 100%;
      }
    }
  }

  &__title {
    margin-bottom: 2rem;

    @include desktop {
      text-align: center;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;

    @include desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 3rem;
    }
  }

  &__list {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.4375rem;

    @include desktop-l {
      margin: 0;
      row-gap: 0.625rem;
    }

    @include desktop {
      row-gap: 2rem;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    row-gap: 0.6875rem;

    &__header {
      display: flex;
      align-items: center;
      column-gap: 0.875rem;
    }

    &__wrapper {
      padding: 0.25rem 0.75rem;
      background-color: var(--color-dark);
      color: var(--color-light);
      border-radius: var(--border-radius-blocks);
      font-size: 1.25rem;
      min-width: 6rem;
    }

    &__subtitle {
      font-size: 1.25rem;
      font-weight: 400;

      @include mobile {
        font-size: 1.125rem;
        letter-spacing: -1px;
      }
    }

    &__description {
      color: var(--color-dark-alt);
    }

    @include mobile {
      font-size: 0.875rem;
      font-weight: 300;
    }
  }
  
  &__video-wrapper {
    width: 42.81rem;
    position: relative;

    @include desktop-l {
      width: 48vw;
    }

    @include desktop {
      max-width: none;
      width: 100%;
    }
  }

  &__button {
    position: absolute;
    transform: translateY(-50%, -50%);
  }

  &__video {
    width: 100%;
  }
}