.support {
  &__title {
    margin-bottom: 2.5rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.25rem;

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1.25rem;
    }

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__subtitle {
    font-size: 1.25rem;
  }

  &__item {
    padding: 1rem;
    border: var(--border-light);
    border-radius: var(--border-radius-xs);
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
  }
}