.table {
  display: flex;
  flex-direction: column;
  row-gap: 0.375rem;

  @include mobile-s {
    row-gap: 0;
  }
  
  &__title {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1rem;
  }

  &__th {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 300;

    @include tablet {
      font-size: 0.625rem;
    }

    @include mobile-s {
      font-size: 0.3125rem;
    }
  }

  &__tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 2.5rem;
    
    @include tablet {
      height: 1.25rem;
    }

    @include mobile-s {
      height: 1rem;
    }
  }

  &__td {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4375rem;

    @include tablet {
      font-size: 1rem;
    }

    @include mobile-s {
      font-size: 0.5625rem;
    }
  }

  &__tr--gray {
    background-color: var(--color-gray);
    border-radius: var(--border-radius-xs);
  }

  &__td--accent {
    color: var(--color-accent);
  }
}
