.torrent {
  &__header {
    margin-bottom: 2.625rem;

    @include mobile {
      margin-bottom: 1.25rem;
    }
  }
  &__title {
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    max-width: 47rem;
    font-weight: 300;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    margin-bottom: 6.25rem;

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1rem;
      margin-bottom: 3rem;
    }

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }

    @include mobile {
      margin-bottom: 2rem;
    }
  }

  &__item {
    padding: 1.25rem;
    border: var(--border-light);
    border-radius: var(--border-radius-medium);
  }

  &-card {
    &__header {
      display: flex;
      align-items: center;
      column-gap: 0.8125rem;
      margin-bottom: 0.8125rem;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 1.22fr 1fr ;

    @include tablet {
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
      align-items: center;
    }

    @include mobile {
      row-gap: 1.5rem;
      align-items: start;
    }
  }

  &__video-wrapper {
    width: 53.375rem;
    position: relative;

    @include desktop-l {
      width: 55vw;
    }

    @include tablet {
      max-width: none;
      width: 100%;
    }
  }

  &__button {
    position: absolute;
  }

  &__video {
    width: 100%;
  }

  &-info {
    margin-top: 2.3rem;
    margin-left: 7.5rem;
    max-width: 35rem;

    @include desktop {
      max-width: none;
      margin-left: 2rem;
    }

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include mobile {
      margin: 0;
      align-items: start;
    }

    &__title {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 0.125rem solid var(--color-accent);

      @include tablet {
        text-align: center;
      }

      @include mobile {
        text-align: start;
      }
    }

    &__subtitle {
      margin-bottom: 1.5625rem;
    }

    &__button {
      @include mobile-s {
        width: 100%;
      }
    }
  }
}