.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-big {
  max-width: calc(var(--container-big-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.section {
  padding-block: var(--section-padding-y);
  
}
.section-big {
  padding-top: var(--section-padding-y);
  padding-bottom: var(--section-padding-big-y);

  @include mobile {
    margin-top: -3rem;
  }
}
.subtitle{
  @include fluid-text(30, 20);
  font-weight: 400;

  color: var(--color-dark-alt);
}

.border{
  margin-top: -50px;
  width: 100%;
  height: 50px;
  background-color: var(--color-light);
  border-radius: var(--border-radius-blocks) var(--border-radius-blocks) 0 0;

  @include mobile {
    margin-top: -32px;
    border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  }
}

.text {
  @include fluid-text(20, 16);

  color: var(--color-dark-alt);
}

.span {
  span{
  color: var(--color-accent);
  }

  text-transform: uppercase;
}

.f18 {
  font-size: 18px;
}


.visually-hidden {
  @include visually-hidden;
}

.hidden-desktop-l {
  @include desktop-l {
    display: none !important;
  }
}

.hidden-desktop {
  @include desktop {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.hidden-mobile-s {
  @include mobile-s {
    display: none !important;
  }
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.vizible-desktop-l {
  @include desktop-l-above {
    display: none !important;
  }
}
.vizible-desktop {
  @include desktop-above {
    display: none !important;
  }
}
.vizible-tablet {
  @include tablet-above {
    display: none !important;
  }
}
.vizible-mobile-s {
  @include mobile-s-above {
    display: none !important;
  }
}
.vizible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.left-top-corner {
  background-color: var(--bgc-beg-alt);
  width: 45px;
  height: 45px;
  position: relative;

  &::after {
    content: '';
  position: absolute;
  top: -5px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: var(--color-light);
  border-bottom-left-radius: 45px;
  }
}

.left-bottom-corner {
  background-color: var(--bgc-beg-alt);
  width: 45px;
  height: 45px;
  position: relative;

  &::after {
    content: '';
  position: absolute;
  top: -0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: var(--color-light);
  border-top-left-radius: 45px;
  }
}

.right-top-corner {
  background-color: var(--bgc-beg-alt);
  width: 45px;
  height: 45px;
  position: relative;
  left: calc(100% - 45px);

  &::after {
    content: '';
  position: absolute;
  top: -5px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: var(--color-light);
  border-bottom-right-radius: 45px;
  }
}

.right-bottom-corner {
  background-color: var(--bgc-beg-alt);
  width: 45px;
  height: 45px;
  position: relative;
  left: calc(100% - 45px);

  &::after {
    content: '';
  position: absolute;
  top: -0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: var(--color-light);
  border-top-right-radius: 45px;
  }
}

