@import 
'normalize',
'fonts',
'mixins',
'media',
'variables',
'utils',
'globals';

@import
'blocks/header',
'blocks/dropbtn',
'blocks/dropdown',
'blocks/button',
'blocks/hero',
'blocks/card',
'blocks/results',
'blocks/cifre',
'blocks/torrent',
'blocks/problem',
'blocks/question',
'blocks/solution',
'blocks/swiper',
'blocks/office',
'blocks/advantages',
'blocks/cases',
'blocks/testimonials',
'blocks/partners',
'blocks/steps',
'blocks/examples',
'blocks/comfort',
'blocks/table',
'blocks/support',
'blocks/questions',
'blocks/form',
'blocks/field',
'blocks/refferal',
'blocks/footer';
